# DATABASE
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DB=ticketdb

# REDIS
REDIS_URL=redis://:@localhost:6379

# CORS
BACKEND_CORS_ORIGINS=["*"]

# JWT
SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# HEDERA
HEDERA_NETWORK=testnet  # testnet or mainnet
HEDERA_OPERATOR_ID=0.0.6863379
HEDERA_OPERATOR_KEY=0x6db4ff1759279083bee77110930e01c22e8be117ba11cbbe9407715a9b32cb39
HEDERA_OPERATOR_ADDRESS=0x0100fb41cac1de1c6057bcc65882d2b101bc3ca4
HEDERA_MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com/api/v1/

# APPLICATION
APP_NAME=TicketIO
ENVIRONMENT=development  # development, staging, production
LOG_LEVEL=INFO