# DATABASE
# DATABASE
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DB=ticketdb #change

# REDIS
REDIS_URL=redis://:@localhost:6379

# CORS
BACKEND_CORS_ORIGINS=["*"]